

html {
	background-image: url("nathan_bgd.JPG");
	background-size: cover;
	background-repeat:no-repeat;
	height:100%;
}


body {
	margin:0 auto;
}


.clear {
	clear:both;
}


.name_at_top {
	text-align:center;
	font-size:50px;
	font-family:Georgia;
	font-weight:bold;
	color:white;
	margin-bottom:0;
}


.toolbar_navigation {
	margin:0 auto;
}


ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align:center;
    width:80%;
}

@media (min-width: 500px) {
	ul {
		max-width:600px;
	}

}



li {

    float:left;
    color: :white;
    width:100%;
    display:block;

}


@media (min-width: 500px) {
	li {
		width:33%;
	}

}


a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: gray;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}


a:hover, a:active {
    background-color: black;
}