* {
	text-align:center;
	font-family:Georgia;
}

a { 
	text-decoration:none;
	color:blue;
	text-align:center;
	


}

a:hover {
	color:red;
}

.name {
	font-size:50px;
	font-family:Georgia;
	font-weight:bold;
	margin-bottom:0;


}
}

.address {
	margin-top:0;
	font-size:14px;
}


/* BELOW THIS: SKILLS , PICTURE, AND EDUCATION */

.education_skills_container {
	width:630px;
	margin:0 auto;
}

.education {
	float:left;
	padding-right:50px;
}

.picture {
	width:150px;
	border-radius:50%;
	border:10px solid #CAF1FF;
}

.skills {			
	float:right;
	padding-left:50px;
}

.clear {
	clear:both;
}
/* ABOVE THIS: SKILLS, PICTURE, AND EDUCATION */





/* BELOW THIS: BOTTOM WORK EXPERIENCE*/

.experience {
	clear:both;
}

.olympia_and_olympia_dates_container_outmost {
	width:630px;
	margin:0 auto;
}


.olympia {
	float:left;
			
}

.job_dates {
	float:right;
	width:50%;
	text-align:right;
				
}

.workplace {
	float:left;
	width:50%;
	margin:0 auto;
	text-align:left;
}

.job_title {
	display:block;
	text-align:left;
}


.job_description {
	padding:0;
}

.job_description li {
	width:630px;
	margin:0 auto;
	text-align:left;
}



.job_description, .job_title {
	margin-left:40px;
}


.robin_and_robin_dates_container_outmost {
	width:630px;
	margin:0 auto;
}

.robin {
	position:left;
	float:left;
	padding-left:15em;
}

.robin_dates {
	position:right;
	float:right;
	padding-right:10em;
}


.parks_and_parks_dates_container_outmost {
	width:630px;
	margin:0 auto;
}

.parks {
	position:left;
	float:left;
	padding-left:15em;
}

.parks_dates {
	position:right;
	float:right;
	padding-right:10em;
}


body {
	width:1000px;
}