* {
	text-align:center;
	font-family:Georgia;
}

a { 
	text-decoration:none;
	color:blue;
	text-align:center;
	


}

a:hover {
	color:red;
}

.name {
		font-size:50px;
		font-family:Georgia;
		font-weight:bold;
		margin-bottom:0;
}

.address {
			margin-top:0;
			font-size:14px;
}

.education {
			position:left;
			float:left;
			padding-left:15em;
}

.skills {
			position:right;
			float:right;
			padding-right:10em;
			clear:both;
}

.olympia {
			position:left;
			float:left;
			padding-left:15em;
}

.olympia_dates {
				position:right;
				float:right;
				padding-right:10em;
}


.robin {
		position:left;
		float:left;
		padding-left:15em;
}

.robin_dates {
				position:right;
				float:right;
				padding-right:10em;
}


.parks {
		position:left;
		float:left;
		padding-left:15em;
}

.parks_dates {
				position:right;
				float:right;
				padding-right:10em;
}


body {
		width:1000px;
}