* {
	position:center;
	background-color: black;
}



li {
	font-size:12px;
	font-family:Verdana;
	color:white;
	font-weight:bold;

}

h1 {
	text-align:center;
	color:white;
	font-family:Verdana;
}


.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

p {
	text-align:center;

}

a {
	text-decoration: none;
	color:blue;

}

a:hover {
		color:red;
}


