* {
	position:center;
	background-color: black;
}



li {
	font-size:12px;
	font-family:Verdana;
	color:white;
	font-weight:bold;

}

h1 {
	text-align:center;
	color:white;
}

img {
		text-align: center;
}